<div class="container mt-3">
    <h1>Enter the value to calculate</h1>
    <small>Enter single letters only. For e.g. Enter "t" only instead of time.</small>
    <form class="mx-auto mt-3" [formGroup]="cuboidForm" (ngSubmit)="onCuboid()" spellcheck="false" autocomplete="off">
        <mat-form-field class="mr-2" appearance="fill">
            <mat-label>Variable 1</mat-label>
            <input matInput formControlName="in_1" maxlength="1" placeholder="T">
            <mat-error>This field is required!</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-2" appearance="fill">
            <mat-label>Variable 2</mat-label>
            <input matInput formControlName="in_2" maxlength="1" placeholder="I">
            <mat-error>This field is required!</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-2" appearance="fill">
            <mat-label>Variable 3</mat-label>
            <input matInput formControlName="in_3" maxlength="1" placeholder="S">
            <mat-error>This field is required!</mat-error>
        </mat-form-field>
        <mat-form-field class="mr-2" appearance="fill">
            <mat-label>Variable 4</mat-label>
            <input matInput formControlName="in_4" maxlength="1" placeholder="D">
            <mat-error>This field is required!</mat-error>
        </mat-form-field>
        <hr>
        <button class="mt-3" [disabled]="!cuboidForm.valid" type="submit" mat-raised-button color="primary">
            <span>Calculate</span>
        </button>
    </form>
    <div *ngIf="is_table_show">
        <table class="table mat-elevation-z8 mt-5">
            <thead>
                <tr>
                    <td>Col_1</td>
                    <td>Col_2</td>
                    <td>Col_3</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{data.in_1 | uppercase}}</td>
                    <td>{{col2_data[0] | uppercase}}</td>
                    <td style="text-transform: uppercase">{{col3_data[0]}}</td>
                </tr>
                <tr>
                    <td>{{data.in_2 | uppercase}}</td>
                    <td>{{col2_data[1] | uppercase}}</td>
                    <td style="text-transform: uppercase">{{col3_data[1]}}</td>
                </tr>
                <tr>
                    <td>{{data.in_3 | uppercase}}</td>
                    <td>{{col2_data[2] | uppercase}}</td>
                    <td style="text-transform: uppercase">{{col3_data[2]}}</td>
                </tr>
                <tr>
                    <td>{{data.in_4 | uppercase}}</td>
                    <td>{{col2_data[3] | uppercase}}</td>
                    <td style="text-transform: uppercase">{{col3_data[3]}}</td>
                </tr>
            </tbody>
        </table>
        <mat-divider></mat-divider>
        <h3>Unique variables in col_3 : <span class="text-uppercase">{{unique_value}}</span></h3>
        <mat-divider></mat-divider>
        <h3>Cuboid:</h3>
        <div id="cuboid" class="table-responsive-sm">
            <table class="table table-borderless text-center">
                <tr>
                    <td id="all" colspan="6">All</td>
                </tr>
                <br><br><br>
                <tr>
                    <td colspan="2" class="in_1 in">{{data.in_1 | uppercase}}</td>
                    <td class="in_2 in">{{data.in_2 | uppercase}}</td>
                    <td class="in_3 in">{{data.in_3 | uppercase}}</td>
                    <td colspan="2" class="in_4 in">{{data.in_4 | uppercase}}</td>
                </tr>
                <br><br><br>
                <tr>
                    <td id="unq_1" *ngFor="let item of unique_value">{{item | uppercase}}</td>
                </tr>
                <br><br><br>
                <tr>
                    <td colspan="1"></td>
                    <td *ngFor="let item of col2_data">{{item | uppercase}}</td>
                    <td colspan="1"></td>
                </tr>
                <br><br><br>
                <tr>
                    <td colspan="6">{{data.in_1 | uppercase}}{{data.in_2 | uppercase}}{{data.in_3 |
                        uppercase}}{{data.in_4 | uppercase}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>