<mat-sidenav-container class="sidenav-container mat-app-background">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div mat-subheader>DMDA</div>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/cuboid">
        <mat-icon class="material-icons-outlined">view_in_ar</mat-icon>
        <span>Cuboid (4D)</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/binning">
        <mat-icon class="material-icons-outlined">bathroom</mat-icon>
        <span>Binning</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/chisquare">
        <mat-icon class="material-icons-outlined">superscript</mat-icon>
        <span>Chi Square table</span>
      </a>
      <mat-divider></mat-divider>
      <div mat-subheader>DAA</div>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/rbtree">
        <mat-icon class="material-icons-outlined" style="transform: rotate(90deg)">share</mat-icon>
        <span>Red Black Tree</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/bst">
        <mat-icon class="material-icons-outlined">manage_search</mat-icon>
        <span>Binary Search Tree</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/dplcs">
        <mat-icon class="material-icons-outlined">spa</mat-icon>
        <span>Longest Common Subsequence</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/nav/heap">
        <mat-icon class="material-icons-outlined">sort</mat-icon>
        <span>Heap Sort</span>
      </a>
      <a mat-list-item class="bmc-button" target="noopener noreferrer" href="https://www.buymeacoffee.com/sujal">
        <img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee">
        <span style="margin-left:5px">Buy me a coffee</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon class="material-icons-outlined" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Mega Calculator</span>
      <div class="ml-auto">
        <button mat-icon-button (click)='onLogout()'>
          <mat-icon class="material-icons-outlined">logout</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="material-icons-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink='/nav/admin'>
            <mat-icon class="material-icons-outlined" color="primary">badge</mat-icon>
            <span>Admin Panel</span>
          </button>
          <button mat-menu-item (click)="angular()">
            <mat-icon class="material-icons-outlined" color="warn">hdr_auto</mat-icon>
            <span>Angular v11.2.5</span>
          </button>
          <button mat-menu-item (click)="telegram()">
            <mat-icon class="material-icons-outlined" color="accent">memory</mat-icon>
            <span>Daily Tech News</span>
          </button>
          <button mat-menu-item (click)="bugReport()">
            <mat-icon class="material-icons-outlined" color="warn">bug_report</mat-icon>
            <span>Report Bug</span>
          </button>
          <button mat-menu-item (click)="sslCheck()">
            <mat-icon class="material-icons-outlined" style="color: lightgreen;">https</mat-icon>
            <span>Safety Check</span>
          </button>
          <button mat-menu-item (click)="firebase()">
            <mat-icon class="material-icons-outlined" style="color: orange;">local_fire_department</mat-icon>
            <span>Backed by Firebase</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>