<div>
    <h1 mat-dialog-title style="display: grid;place-items: center;">
        <mat-icon color="primary" style="font-size: 35px;">code</mat-icon>
    </h1>
    <h3>Enter password to access developers options.</h3>
    <div mat-dialog-content>
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Enter Master Password</mat-label>
            <input matInput [(ngModel)]="key" type="password" placeholder="********">
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="row">
        <div class="col">
            <button mat-stroked-button class="w-100" (click)="onDismiss()">No</button>
        </div>
        <div class="col">
            <button mat-raised-button color="primary" class="w-100" (click)="onConfirm()">Confirm</button>
        </div>
    </div>
</div>