<div class="card mb-3 mat-card">
    <mat-card-header class="mt-1 ml-1">
        <img mat-card-avatar [src]="info.photoUrl" />
        <mat-card-title>{{info.name}}</mat-card-title>
        <mat-card-subtitle>{{info.isPremium == false ? 'Free' : 'Premium User'}}</mat-card-subtitle>
    </mat-card-header>
</div>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Email: {{info.email}}</h3>
        <p class="card-text">
            <button class="mr-2" mat-stroked-button color="primary">Promote</button>
            <button mat-stroked-button color="warn" (click)="onNoClick()">Close</button>
        </p>
    </div>
</div>
<mat-card style="display: none;"></mat-card>