<body class="text-center">
    <form class="form-signin rounded">
        <img class="mb-4" src="../../../assets/logo.svg" alt="" width="72" height="72">
        <h1 class="h1 mb-5" style="letter-spacing: 3px; font-size: 25px; font-weight: 500;">Mega Calculator</h1>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-outline-dark" role="button" style="text-transform:none" (click)="onGoogleSignIn()">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </button>
            </div>
        </div>
        <p class="mt-5 mb-1 text-muted">Built in <img src="../../../assets/ng.svg" height="25px" width="25px" /> by Sujal Shah  &nbsp; &#8212; &nbsp; v11.2.6</p>
    </form>
</body>