.example-margin {
    margin: 0 12px;
}
.mat-horizontal-stepper-header {
    pointer-events: none !important;
}
.mat-step-icon-state-done {
    background-color: #42d697 !important;
    color: #fff !important;
}
