@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  outline: 0 !important;
}
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}